div .box-container {
    width: 80%;
    height: auto;
    margin-top: 8%;
    margin-left: 10%;
    border: 2px solid lightgray;
}

div .box-container a {
    color: #525252;
    display: flex;
    flex-direction: row;
    justify-content: center;
}