.navbar {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
 
a, a:visited {
    color: white;
    text-decoration: none;
    padding: 25px
}

a:hover {
    color: limegreen;
}